# Convert text file line endings to lf
* text eol=lf

# Don't allow merges to lockfiles
yarn.lock merge=binary

# Use JSON with comments
**/tree.json linguist-language=JSON-with-Comments
**/base-tree.json linguist-language=JSON-with-Comments
**/rojo.json linguist-language=JSON-with-Comments
**/axon.json linguist-language=JSON-with-Comments

# Identify binary files
/.yarn/releases/** binary
/.yarn/plugins/** binary
*.png binary
*.jpg binary
*.ico binary
*.rbxm binary
