:root {
  --vp-c-brand: #1eaeeb;
  --vp-c-brand-light: #2da3fa;
  --vp-c-brand-lighter: #60acfc;
  --vp-c-brand-dark: #18b4c9;
  --vp-c-brand-darker: #16a18c;
  --vp-c-brand-dimm-1: rgba(30, 174, 235, 0.05);
  --vp-c-brand-dimm-2: rgba(30, 174, 235, 0.2);
  --vp-c-brand-dimm-3: rgba(30, 174, 235, 0.5);
}
